<h1>Sign up</h1>

<% if @user.errors().any?() %>
	<% @user.errors().full_messages().each() do |error| %>
		<%= "Sorry you can't save your user because: you cannot enter a username under 3 characters" %>

	<% end %>

<% end %>

<%= form_for(@user) do |f| %>
	Username: <%= f.text_field :username%>
	Password: <%= f.password_field :password%>
	<%= f.submit %>
<% end %>
