<body>

<div id="title">
<h1>Find Your Fitness</h1>
</div>

<div id="signup_box" class="box">

<h2>Sign up</h2>

<% if @user.errors().any?() %>
	<% @user.errors().full_messages().each() do |error| %>
		<%= error %>

	<% end %>

<% end %>

<form>
<%= form_for(@user) do |f| %>
	<%= f.label(:username,"Username:") %> <%= f.text_field :username%>
	<%= f.label(:password,"Password:") %> <%= f.password_field :password%>
	Confirm: <%= f.password_field(:password_confirmation) %>
	<%= f.submit %>
<% end %>

</form>

</div>

<div id="login_box" class="box">

<h2>Login</h2>

<form>
<%= form_tag(sessions_path, :method => "post") do %>
  <%= label_tag(:username, "Username:") %> <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %> <%= password_field_tag(:password) %>
  
  <%= submit_tag("Login") %>
<% end %>
</form>
</div>

<div id="links">

	<a href="https://www.facebook.com/" target="_blank">
		<img src="images/social-icon-facebook.png"></a>

	<a href="https://twitter.com/" target="_blank">
		<img src="images/social-icon-twitter.png"></a>

	<a href="pinterest.com" target="_blank">
		<img src="images/social-icon-pinterest.png"></a>
</div> <!-- #links -->


</body>
