<!DOCTYPE html>
<body>

<h1> Hello <%= @user.username %> </h1>

My user id is: <h1> <%= @user.id %> </h1>

Classes attended: <h1> <%= @classes_attended %> </h1>

My ratings: <h1> <%= @user_ratings %> </h1>

<p> <%= link_to "START SEARCHING", exercise_classes_path %> </p>

</body>
</html>